* {
    margin: 0;
    padding: 0;
    line-height: 1;
    cursor: none;
}

body {
    overflow: hidden;
    width: 100vw;
}

video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    opacity: .24;
}

main {
    width: 90vw;
    padding-left: 5vw;
    display: block;
    position: fixed;
    top: 20px;
    font-family: sans-serif;
}

main * {
    line-height: 1.5 !important;
}