* {
    margin: 0;
    padding: 0;
    line-height: 1;
    cursor: none;
}

body {
    overflow: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    opacity: .24;
}